apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana-route
spec:
  hostnames:
  - monitoring.beerus.fr
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: cilium-external
    namespace: network
    sectionName: https
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: kube-prometheus-stack-grafana
      port: 80
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /